<div class="modal fade" id="cityregistration" tabindex="-1" aria-labelledby="cityregistrationLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cityregistrationLabel">City Registration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 60vh; overflow-y: auto;">
                <form action="/admin/add_city" method="POST">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">
                                City Name <span class="required text-danger">*</span>
                            </label>
                            <input type="text" class="form-control" name="city_name" required placeholder="Enter city name">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">
                                Country <span class="required text-danger">*</span>
                            </label>
                            <select class="form-control" id="cityCountry" name="city_country" required>
                                <option value="" disabled selected>Select Country</option>
                                <!-- Dynamically populate this with countries -->
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-info">Save changes</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>